default:
  suites:
    default:
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
  extensions:
    Behat\MinkExtension:
      goutte: ~
      selenium2: ~
      base_url: http://localhost/garmentbox/www
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "/var/www/garmentbox/www"
