default:
  extensions:
    Behat\MinkExtension:
      # Replace with your real URL.
      base_url: http://localhost/drupal7
    Drupal\DrupalExtension:
      drupal:
        # Replace with your real Drupal root.
        drupal_root: "/var/www/drupal7"
